<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title></title>
    <script>
        window.getFontSize=function(){
            var c= window.document.documentElement.style.fontSize
            return c.substr(0,c.length-2)
        }
        window.getRem=function(px){
            return px/getFontSize()
        }
        window.getPX=function(rem){
            return rem*getFontSize()
        }
    </script>
</head>
<body>
<div id="root"></div>
<script>
    //禁止长按功能
    window.ontouchstart = function(e) {
        e.preventDefault();
    };
    document.body.addEventListener('touchstart', function () { });

</script>
</body>
</html>
